<!DOCTYPE html>
<html>

<head>
    <h1>CRUD Operations</h1>

</head>

<body>
    <div>
        <table>
            <tr>
                <form action="" method="post">
                    <input type="text" placeholder="Name" id="name">
                    <input type="text" placeholder="Age" id="age">
                    <input type="text" placeholder="Weight" id="weight">
                    <input type="submit" value="Submit">
                </form>
            </tr>
            <br><br>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Weight</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Hello</td>
                <td>12</td>
                <td>34</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
            </tr>
        </table>
    </div>
</body>

</html>