<!DOCTYPE html>
<html>

<head>
    <h1>CRUD Operations</h1>

</head>

<body>
    <div>
        <table>
            <tr>
                <form action="http://localhost:5050/create" method="post">
                    <input type="text" placeholder="Name" name="name">
                    <input type="text" placeholder="Age" name="age">
                    <input type="text" placeholder="Weight" name="weight">
                    <input type="submit" value="Submit">
                </form>
            </tr>
            <br><br>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Weight</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>Hello</td>
                <td>12</td>
                <td>34</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
            </tr>
            {% for data in data %}
            <tr>
                <td>{{data.NAME}}</td>
                <td>{{data.age}}</td>
                <td>{{data.weight}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>